#widgets("ui.MenuBar" {"data" : {"1" : "first", "2" : "second"}})
<span>$step</span>
<span>$item</span>
#end
#widget("ui.Wrapper")
#foreach($text in $test.split("\|"))
  $text<br />
#end

#foreach($i in [1..1])
  $i<br />
#end