#widgets("ui.Panel", "title=test", "layout.class=BorderLayout")
    #*#widgets("ui.TabPanel", "layout.name=west")
        #widgets("ui.Panel", "title=首页", "layout.class=VerticalLayout")
            <span>Front page</span>
        #end
    #end*#
    <span>Greeting</span>
#end